---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---
<ProjectLayout title="Latinum" description="Latinum project" url="https://latinum.space">
	<p class="py-1"></p>
</ProjectLayout>
