---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About Nicholas Romero">
	<div class="w-full md:max-w-4xl pt-6">
		<h1 class="pb-4 text-xl font-semibold leading-6 text-gray-900 dark:text-white">About</h1>
		<div class="text-gray-500 dark:text-gray-400">
			<p class="py-1"></p>
			<p class="py-4">
				<a href="/resume" class="text-blue-600 hover:underline dark:text-blue-400">
					View Resume &rarr;
				</a>
			</p>
		</div>
	</div>
</BaseLayout>
