.navbar {
  grid-area: nav;
  display: flex;
  margin: 0 auto;
}

.navTitle {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.navTitle a {
  border-bottom-width: 1px;
  text-transform: uppercase;
  opacity: 90%;
  color: rgba(107, 114, 128, 1);
}

.homeLinks {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
}

.homeLinks a {
  text-transform: uppercase;
  opacity: 90%;
  color: rgba(156, 163, 175, 1);
}

.iconLinks {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
